div.navbar {
    position: absolute;
    width: 100vw;
    height: 13.6vh;
    background-color: #232933;
}

div.main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #2b2f36;
    padding: 0;
}

.content {
    position: absolute;
    height: 61vh;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 20vh;
    padding-top: 1vh;
    
    overflow-y: scroll;
    color: white;
    font-family: "Times New Roman", serif;
    font-size: 150%;
}

input.navbar {
    color: white;
    background: black;
    
    border: none;
    border-right: solid;
    border-right-color: gray;
    border-width: 2px;
    
    position: relative;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 1.5vh;
    
    z-index: 1;
}

h1.titleText {
    text-align: center;
    color: white;
    font-size: 4vh;
}